body{
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    background-image: radial-gradient(circle at 40% 91%, rgba(251, 251, 251,0.04) 0%, rgba(251, 251, 251,0.04) 50%,rgba(229, 229, 229,0.04) 50%, rgba(229, 229, 229,0.04) 100%),radial-gradient(circle at 66% 97%, rgba(36, 36, 36,0.04) 0%, rgba(36, 36, 36,0.04) 50%,rgba(46, 46, 46,0.04) 50%, rgba(46, 46, 46,0.04) 100%),radial-gradient(circle at 86% 7%, rgba(40, 40, 40,0.04) 0%, rgba(40, 40, 40,0.04) 50%,rgba(200, 200, 200,0.04) 50%, rgba(200, 200, 200,0.04) 100%),radial-gradient(circle at 15% 16%, rgba(99, 99, 99,0.04) 0%, rgba(99, 99, 99,0.04) 50%,rgba(45, 45, 45,0.04) 50%, rgba(45, 45, 45,0.04) 100%),radial-gradient(circle at 75% 99%, rgba(243, 243, 243,0.04) 0%, rgba(243, 243, 243,0.04) 50%,rgba(37, 37, 37,0.04) 50%, rgba(37, 37, 37,0.04) 100%),linear-gradient(90deg, rgb(34, 222, 237),rgb(143,202,182));
    padding-top: 6vh;
}

header{
    background-color:aquamarine;
    top: 0px;
    height: 6vh;
    z-index: 10;
}

h1{
    color:cornflowerblue;
    font-family: 'Righteous', cursive;
    text-shadow: 2px 2px 3px rgb(54, 189, 144);
    font-size: 6vw !important;
    z-index: 2 !important;
}

h2{
    font-weight: bold !important;

}

.btn:focus, input:focus, .form-select:focus{
    box-shadow: none !important;
}

.box{
    background-color: rgba(255, 255, 255, 0.5); 
    min-height: 300px;
    border-radius: 10px; 
    margin: auto;
    box-shadow: inset -1px -1px 4px 0px rgba(73, 112, 158, 0.6), inset 0px 2px 8px 0px rgb(255, 255, 255);
}

.btn{
    border-radius: 20px !important;
}

.botonBox:hover{
    background-color: rgb(143, 202, 182);
    border: 2px solid transparent !important;
}

.botonCancel:hover{
    background-color:rgb(165, 165, 165);
    border: 2px solid rgb(165, 165, 165) !important;
}

.botonBox{
    background-color: transparent;
    border: 2px solid rgb(143, 202, 182) !important;
    border-radius: 20px;
}

.form-control, .form-select{
    font-size: 1rem !important;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    background-color: rgba(255, 255, 255, 0.85);
}

.list-group-item{
    border: none !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.list-group-item p{
    margin-bottom: 0px !important;
}

.list-group hr{
    margin-top: 1px !important;
    margin-bottom: 1px !important;
}

.selectable-list:hover{
    background-color: rgba(127, 255, 212, 0.6) !important;
    border-radius: 5px;
    cursor: pointer;
}

.accountSep{
    display: none;
}

@media (max-width: 576px){
    body, .botonBox, .btn{
        font-size: 14px !important;
    }
    h1{
        font-size: xx-large !important;
    }
    h2{
        font-size: 1.2rem !important;
    }
    .col-form-label, .listWho{
        font-size: 18px !important;
    }
    main{
        padding: 0px !important;
    }
    #main{
        padding-top: 0px !important;
    }
    .box{
        width: 95% !important;
        box-shadow: none !important;
        margin-top: 10px !important;
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .list-group-item, .costGasto{
        width: 100% !important;
    }
    .accountSep{
        display: block;
        width: 100% !important;
        margin-top: 50px;
        height: 5px !important;
        color: rgb(143, 202, 182) !important;
        opacity: 1;
        box-sizing:content-box;
    }
}

@media (min-width: 1000px){
    #addCuentaBox, #historialBox{
        width: 50% !important;
    }
}